body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3a3936;
}

canvas {
    background-color: #8a8a8a;
    border: 2px solid black;
}

/* Modal styles */
#popup {
    font-family: 'futures';
    font-size: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's above other elements */
    backdrop-filter: blur(5px);
}

.popup-content {
    background-color: rgb(192, 192, 192);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80vw; /* Ensure it doesn’t take up the whole screen */
    max-height: 80vh; /* Limit the height */
    overflow-y: auto; /* Scroll if content is too long */
}

#refreshButton {
    font-family: 'futures';
    background-color: #505050;
    color: #c4c4c4;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 1.5vw;
    width: 15vw;
    transition: transform 0.4s ease-out, box-shadow 0.6s ease-out;
}

/* Adjust the positioning of the leaderboard */
#leaderboard {
    font-family: monospace;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    margin-top: 20px; /* Add some margin from the previous content */
    text-align: center;
    overflow-y: auto;
    height: 200px; /* Set a height to avoid overflowing */
    margin: 0 auto; /* Center horizontally */
    font-size: 2vw;
}

/* Ensure there is no overlap with leaderboard entries */
.leaderboard-entry {
    padding: 4px 0;
}

h5 {
    font-family: 'Arial', sans-serif; /* Choose your font */
    font-size: 1.2rem; /* Adjust the font size */
}